<h1>Backgrounds!!</h1>
<div class="">
    {{#each backgrounds as |background|}}
    <div class="">
        <h2>{{background.name}}</h2>
        <div>{{background.description}}</div>
    {{/each}}
</div>