<h1>Backgrounds!!</h1>
<div class="">
    {{#each backgrounds as |background|}}
    <div class="all-playbooks">
        <h2>{{background.name}}</h2>
        <div>{{background.description}}</div>
        <a href="/drive" data-name="{{background.name}}" class="playbook"><button>Select</button></a>
    {{/each}}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/js/background.js"></script> 