<h1>Backgrounds!!</h1>
<div class="all-playbooks">
    {{#each backgrounds as |background|}}
    <div class="playbook-container">
        <h2>{{background.name}}</h2>
        {{{background.description}}}
        <a href="/drive/{{background.playbook}}" data-name="{{background.name}}" class="playbook"><button>Select</button></a>
    </div>
    {{/each}}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/js/background.js"></script> 