<div class="title">
    <h1>Stonetop Character Creator</h1>
</div>
<div>
    <h2>Create a character, or choose a character below!</h2>
</div>
<div class="homepage-btns">
    <button>Create a New Hero</button>
    {{!-- <div class="">
        {{#each characters as |character|}}
            <button class="">
                <h6 class="italic">{{character.name}} the {{character.playbook}}</h6>
            </button>
        {{/each}}
    </div>  --}}
</div>