<div class="login-signup-container">

    <div class="login-parent">
        <div class="login-signup-header">
            <h2>Login</h2>
        </div>
        <div class="login-signup-body">
            <div class="username">
                <p>Username</p>
                <input type="text" class="username-login">
            </div>
            <div class="password">
                <p>Password</p>
                <input type="password" class="password-login">
            </div>
            <div class="login-signup-box">
                <button class="login-btn">Login!</button>
            </div>
        </div>

</div>

<div class="signup-parent">
        <div class="login-signup-header">
            <h2>Sign Up</h2>
        </div>
        <div class="login-signup-body">
            <div class="username">
                <p>Username</p>
                <input type="text" class="username-signup">
            </div>
            <div class="password">
                <p>Password</p>
                <input type="password" class="password-signup">
            </div>
            <div class="login-signup-box">
                <button class="signup-btn">Sign Up!</button>
            </div>
        </div>
</div>

</div>