<h2>Assign these scores: +2, +1, +1, +0, +0, -1</h2>
<div class="stat-boxes">
    <div class="stat">
        <span class="relative-up">Strength</span>
        <h2>+2</h2>
        <span class="relative-down">(STR)</span>
        <select>
            <option value="actual value 1">Display Text 1</option>
            <option value="actual value 2">Display Text 2</option>
            <option value="actual value 3">Display Text 3</option>
        </select>
    </div>
    <div class="stat">
        <span class="relative-up">Dexterity</span>
        <h2>+2</h2>
        <span class="relative-down">(DEX)</span>
    </div>
    <div class="stat">
        <span class="relative-up">Intelligence</span>
        <h2>+2</h2>
        <span class="relative-down">(INT)</span>
    </div>
    <div class="stat">
        <span class="relative-up">Wisdom</span>
        <h2>+2</h2>
        <span class="relative-down">(WIS)</span>
    </div>
    <div class="stat">
        <span class="relative-up">Constitution</span>
        <h2>+2</h2>
        <span class="relative-down">(CON)</span>
    </div>
    <div class="stat">
        <span class="relative-up">Charisma</span>
        <h2>+2</h2>
        <span class="relative-down">(CHA)</span>
    </div>
</div>