<h2>Assign these scores: +2, +1, +1, +0, +0, -1</h2>
<div class="stat-boxes">
    <div>
        <div class="stat">
            <span class="relative-up">Strength</span>
            <h2 id="strength">-</h2>
            <span class="relative-down">(STR)</span>
        </div>
        <select>
                <option value="actual value 1">-</option>
                <option value="actual value 2">-1</option>
                <option value="actual value 3">0</option>
                <option value="actual value 3">+1</option>
                <option value="actual value 3">+2</option>
        </select>
    </div>
    <div class="stat">
        <span class="relative-up">Dexterity</span>
        <h2>-</h2>
        <span class="relative-down">(DEX)</span>
    </div>
    <div class="stat">
        <span class="relative-up">Intelligence</span>
        <h2>-</h2>
        <span class="relative-down">(INT)</span>
    </div>
    <div class="stat">
        <span class="relative-up">Wisdom</span>
        <h2>-</h2>
        <span class="relative-down">(WIS)</span>
    </div>
    <div class="stat">
        <span class="relative-up">Constitution</span>
        <h2>-</h2>
        <span class="relative-down">(CON)</span>
    </div>
    <div class="stat">
        <span class="relative-up">Charisma</span>
        <h2>-</h2>
        <span class="relative-down">(CHA)</span>
    </div>
</div>