<h2>Assign each of these numbers to one of the stats below:</h2>
<h2>+2, +1, +1, +0, +0, -1</h2>
<h3>The higher the number, the better you are at that stat!</h3>
<div class="stat-boxes">
    <div class="stat">
        <div class="stat-main">
            <span class="relative-up">Strength</span>
            <select>
                <option value="actual value 1">-</option>
                <option value="actual value 2">-1</option>
                <option value="actual value 3">0</option>
                <option value="actual value 3">+1</option>
                <option value="actual value 3">+2</option>
            </select>
            <span class="relative-down">(STR)</span>
        </div>
        <div class="stat-description">
            <p>Used to Clash, as well as Defy Danger or Interfere by powering through or testing your might.</p>
        </div>
    </div>
    <div class="stat">
        <div class="stat-main">
            <span class="relative-up">Dexterity</span>
            <select>
                <option value="actual value 1">-</option>
                <option value="actual value 2">-1</option>
                <option value="actual value 3">0</option>
                <option value="actual value 3">+1</option>
                <option value="actual value 3">+2</option>
            </select>
            <span class="relative-down">(DEX)</span>
        </div>
        <div class="stat-description">
            <p>Used to Let Fly, as well as Defy Danger or Interfere by employing speed agility, or finesse.</p>
        </div>
    </div>
    <div class="stat">
        <div class="stat-main">
            <span class="relative-up">Intelligence</span>
            <select>
                <option value="actual value 1">-</option>
                <option value="actual value 2">-1</option>
                <option value="actual value 3">0</option>
                <option value="actual value 3">+1</option>
                <option value="actual value 3">+2</option>
            </select>
            <span class="relative-down">(INT)</span>
        </div>
        <div class="stat-description">
            <p>Used to Know Things, as well as Defy Danger or Interfere by applying expertise or enacting a clever plan.</p>
        </div>
    </div>
    <div class="stat">
        <div class="stat-main">
            <span class="relative-up">Wisdom</span>
            <select>
                <option value="actual value 1">-</option>
                <option value="actual value 2">-1</option>
                <option value="actual value 3">0</option>
                <option value="actual value 3">+1</option>
                <option value="actual value 3">+2</option>
            </select>
            <span class="relative-down">(WIS)</span>
        </div>
        <div class="stat-description">
            <p>Used to Seek Insight, as well as Defy Danger or Interfere by exerting willpower or replying on your senses.</p>
        </div>
    </div>
    <div class="stat">
        <div class="stat-main">
            <span class="relative-up">Constitution</span>
            <select>
                <option value="actual value 1">-</option>
                <option value="actual value 2">-1</option>
                <option value="actual value 3">0</option>
                <option value="actual value 3">+1</option>
                <option value="actual value 3">+2</option>
            </select>
            <span class="relative-down">(CON)</span>
        </div>
        <div class="stat-description">
            <p>Used to Defend, as well as Defy Danger or Interfere by enduring or holding steady.</p>
        </div>
    </div>
    <div class="stat">
        <div class="stat-main">
            <span class="relative-up">Charisma</span>
            <select>
                <option value="actual value 1">-</option>
                <option value="actual value 2">-1</option>
                <option value="actual value 3">0</option>
                <option value="actual value 3">+1</option>
                <option value="actual value 3">+2</option>
            </select>
            <span class="relative-down">(CHA)</span>
        </div>
        <div class="stat-description">
            <p>Used to Persuade NPCs and Persuade PCs, as well as Defy Danger or Interfere by charming, bluffing, impressing, or fitting in.</p>
        </div>
    </div>
    <button>Finalize your Character!</button>
</div>