.login-signup-container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    font-size: 200%;
}

.login-parent, .signup-parent {
    display: flex;
    flex-direction: column;
}

.login-parent input, .signup-parent input {
    font-size: 100%;
    padding: 10px;
    color: #0C526E;
}

.login-parent button, .signup-parent button {
    font-size: 100%;
}