* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 98%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1 {
    font-size: 200%;
    font-family: Avara;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #0C526E;
    padding: 20px;
    color: white;
}

nav a {
    color: white;
    padding: 0 10px;
}

.all-playbooks {
    width: 95%;
    margin: 0 auto;
}

.playbook-container {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

.playbook-image-container {
    max-width: 75px;
}

img {
    max-width: 100%;
}